.footer-content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    margin: 0px 5vw;
}
.footer-content .footer-links, .footer-content .footer-info{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.footer-content .footer-links a, .footer-content .footer-info a{
    color: var(--fontcolor);
    text-decoration: none;
    cursor: pointer;
}
    /* 2.4.1 Styling Footer Link */
    .footer-content *:focus{
        outline: none;    
    }
    .footer-content .footer-links{
        text-align: center;
        letter-spacing: 0.8px;
    }
    .footer-content .footer-links > a > span:hover, 
    .footer-content .footer-links > a:focus > span{
        color: var(--hovercolor);
    }
    .footer-content .footer-links a::before,
    .footer-content .footer-links a::after{
        transition: padding 0.3s ease;
    }
    .footer-content .footer-links a::before{
        content: " \> "; /*  nur zahlen nach X (Unicode Hex) */
        float:left;
        padding: 0px 20px 0px 0px;
    }
    .footer-content .footer-links > a:hover::before,
    .footer-content .footer-links > a:focus::before{
        padding: 0px 15px 0px 5px; 
    }
    .footer-content .footer-links a::after{
        content: " \< "; /*  nur zahlen nach X (Unicode Hex) */
        float:right;
        padding: 0px 0px 0px 20px;
    }
    .footer-content .footer-links > a:hover::after,
    .footer-content .footer-links > a:focus::after{
        padding: 0px 5px 0px 15px;
    }
    /* 2.4.1 end */

    /* 2.4.2 Styling Footer info*/
    .footer-content .footer-info h2{
        margin:0px;
    }
    .footer-content .footer-info .footer-links{
        height:100%;
    }
    .footer-content .footer-info .footer-links{
        padding: 0px 50px 0px 0px; 
    }
    .footer-content .footer-info .footer-links > a::before{
        padding: 0px 0px 0px 0px; 
    }
    .footer-content .footer-info .footer-links > a::after{
        padding: 0px 0px 0px 0px;
    }
    .footer-content .footer-info .footer-links > a:hover::before, 
    .footer-content .footer-info .footer-links > a:focus::before{
        padding: 0px 0px 0px 5px; 
    }
    .footer-content .footer-info .footer-links > a:hover::after,
    .footer-content .footer-info .footer-links > a:focus::after{
        padding: 0px 5px 0px 0px;
    }
    /* 2.4.2 end */