*{
    --fontcolor: black;
    --hovercolor: rgba(0, 0, 0, 0.7);
    --contentcolor: rgba(100,100,100,0.4);
    --whitecolor-06: rgba(255, 255, 255, 0.6);
    --whitecolor-04: rgba(255, 255, 255, 0.4);
    transition:color 0.1s ease;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
body{
    margin:0px;
    padding:0px;
    overflow:hidden;
}
.wrapper{
    background-image: url('../img/background_1.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 95%;
    height:100vh;
}