/* 1.0 Fonts */
@font-face { 
    font-family: "Bauhaus"; 
    src: url(../font/bauhaus_font/BauhausRegular.ttf); 
}
.font1 *{
    font-family: "Bauhaus";
    font-weight: 400;
}
/* 1.0 ====== */

/* 2.0 Styling */
*{
    --fontcolor: black;
    --hovercolor: rgba(0, 0, 0, 0.7);
    --contentcolor: rgba(100,100,100,0.4);
    --whitecolor-06: rgba(255, 255, 255, 0.6);
    --whitecolor-04: rgba(255, 255, 255, 0.4);
    transition:color 0.1s ease;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar {
    display: none;
  }
body{
    margin:0px;
    padding:0px;
    overflow:hidden;
}
.wrapper{
    background-image: url('../img/background_1.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 95%;
    height:100vh;
}
    /* 2.1 Styling Nav-Bar */
    .nav *:focus{
        outline: none;
    }
        /* 2.1.1 Underline Link animation */
        .nav .link > a::after, 
        .nav .menubar .side-menu > a::after{
            content: '';
            position: absolute;
            bottom: 3px;
            left: 0;
            width: 100%;
            height: 1.5px;
            background-color: rgba(0, 0, 0, 0.7);
            opacity: 0;
            transition: opacity 150ms, transform 150ms;
        }
        .nav .link > a:hover::after,
        .nav .link > a:focus::after,
        .nav .menubar .side-menu > a:hover::after,
        .nav .menubar .side-menu > a:focus::after {
            opacity: 1;
            transform: translate3d(0, 0.02em, 0);
        }
        .nav .menubar .side-menu > a::after {
            opacity: 1;
            transform: scale(0);
            transform-origin: center;
        }

        .nav .link > a:hover::after,
        .nav .link > a:focus::after,
        .nav .menubar .side-menu > a:hover::after,
        .nav .menubar .side-menu > a:focus::after{
            transform: scale(1);   
        }
        /* 2.1.1 end */

    .nav{
        min-height:60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nav .link > a{
        color:black;
        text-decoration: none;
        margin: 0px 20px;
        font-size: 22pt;
        font-family: "Bauhaus";
        position:relative;
    }
    .nav .link > a:hover{
        color: var(--hovercolor);
    }
    .nav, footer{
        width:100vw;
        background-color:var(--whitecolor-06);
    }
    footer{
        min-height:60px;
    }

    .nav > ul{
        display: flex;
        flex-direction: row;
        margin:0px;
        padding:0px 5vw;
        height:100%;
        justify-content: space-between;
    }
    .nav > ul > .nav-element{
        list-style: none;
        display:flex;
        align-items: center;
        justify-content: center;
        width:33.33%;
    }
    .nav > ul > .logo{
        justify-content: flex-start !important;
    }
    .nav > ul > .logo img{
        height: 45px;
        transition: transform 0.3s ease;  
    }
    .nav > ul > .logo img:hover,
    .nav > ul > .logo a:focus img{
    transform: scale(103%);         
    }
    .nav > ul > .menubar{
        justify-content:flex-end !important;
    }
    .nav > ul > .menubar > .icon > *{
        transition:transform 0.3s ease, opacity 0.1s ease-in;
    }
    .nav .side-menu{
        visibility:hidden;
        white-space: nowrap;
        overflow:hidden;
        position:absolute;
        display:flex;
        flex-direction: column;
        list-style: none;
        text-align: right;
        top:60px;
        height:calc(100vh - 60px - 101px);
        width:0vw;
        right:0px;
        background-color:var(--whitecolor-04);
        border-top:solid rgba(210, 210, 210, 1) 1px;
        transition: width 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
    }
    .nav .menubar .active + .side-menu{
        visibility:visible;
        width:100vw;
    }
    .nav .side-menu a{
        margin: 5px 5vw 5px auto;
        color:black;
        text-decoration: none;
        font-size: 22pt;
        font-family: "Bauhaus";
        position:relative;
    }
    .nav .side-menu a::before{
        content: "> " ;
    }
    .no-click section{
        pointer-events: none;
    }
    /* 2.1 end */

    /* 2.2 Styling Content */
    .content{
        height:calc(100vh - 60px);
        width:100vw;
        z-index: -1;
        overflow-y:scroll;
    }
    .banner{
        background-color: var(--contentcolor);
        height:calc(100% - 100px);
        margin: 0px auto;
        transition: width 0.3s ease;
    }
    /* 2.2 end */

    /* 2.3 Styling Form Section ===*/
        .form-section{
            background-color: var(--contentcolor);
            margin:0px auto;
            height: calc(100% - 100px);
            color:rgba(230, 230, 230, 1);
            overflow-y: scroll;
        }
        .form-section h1{
            font-size: 50pt;
            margin:0px 0px 10px 0px;
        }
        .form-section > form{
            padding-top: 40px;
        }
        .form-section > form > .form-container{
            display:flex;
            justify-content: center;
            gap: 20px;
        }
        .form-container input, .form-container textarea{
            color:rgba(230, 230, 230, 1);
            font-size: 20px;
            background-color:rgba(200, 200, 200, 0.1);
            border-radius: 4px;
            margin: 0px 0px 20px 0px;
            border: solid rgba(220, 220, 220, 0.9) 1px;
        }
        .form-container input{
            height: 30px;
            width: 250px;
        }
        .form-container input::placeholder, .form-container textarea::placeholder{
            opacity:0.8;
            color:rgba(230, 230, 230, 1);
        }
        .form-section > form > .buttons input{
            cursor: pointer; 
            width: 255px;
            height: 40px;
            background-color:rgba(200, 200, 200, 0.1);
            transition: background 0.3s ease;
        }
        .form-section > form > .buttons input:hover, 
        .form-section > form > .buttons input:focus{
            background-color:rgba(200, 200, 200, 0.4);
        }
        .form-container textarea{
            width:525px;
            height: 200px;
        }
        .form-container *:focus{
            outline: solid rgba(255, 255, 255, 0.6) 0.5px;
            border: solid rgba(255, 255, 255, 0.6) 0.5px;
            background-color:rgba(200, 200, 200, 0.2);
        }
        .form-container input:focus::placeholder, 
        .form-container textarea:focus::placeholder,
        .buttons input:focus,
        .buttons input:hover{
            opacity:1;
            color:rgba(250, 250, 250, 1);
        }
    /* 2.3 end */

    /* 2.4 Styling Footer */
    .footer-content{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100px;
        margin: 0px 5vw;
    }
    .footer-content .footer-links, .footer-content .footer-info{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .footer-content .footer-links a, .footer-content .footer-info a{
        color: var(--fontcolor);
        text-decoration: none;
        cursor: pointer;
    }
        /* 2.4.1 Styling Footer Link */
        .footer-content *:focus{
            outline: none;    
        }
        .footer-content .footer-links{
            text-align: center;
            letter-spacing: 0.8px;
        }
        .footer-content .footer-links > a > span:hover, 
        .footer-content .footer-links > a:focus > span{
            color: var(--hovercolor);
        }
        .footer-content .footer-links a::before,
        .footer-content .footer-links a::after{
            transition: padding 0.3s ease;
        }
        .footer-content .footer-links a::before{
            content: " \> "; /*  nur zahlen nach X (Unicode Hex) */
            float:left;
            padding: 0px 20px 0px 0px;
        }
        .footer-content .footer-links > a:hover::before,
        .footer-content .footer-links > a:focus::before{
            padding: 0px 15px 0px 5px; 
        }
        .footer-content .footer-links a::after{
            content: " \< "; /*  nur zahlen nach X (Unicode Hex) */
            float:right;
            padding: 0px 0px 0px 20px;
        }
        .footer-content .footer-links > a:hover::after,
        .footer-content .footer-links > a:focus::after{
            padding: 0px 5px 0px 15px;
        }
        /* 2.4.1 end */

        /* 2.4.2 Styling Footer info*/
        .footer-content .footer-info h2{
            margin:0px;
        }
        .footer-content .footer-info .footer-links{
            height:100%;
        }
        .footer-content .footer-info .footer-links{
            padding: 0px 50px 0px 0px; 
        }
        .footer-content .footer-info .footer-links > a::before{
            padding: 0px 0px 0px 0px; 
        }
        .footer-content .footer-info .footer-links > a::after{
            padding: 0px 0px 0px 0px;
        }
        .footer-content .footer-info .footer-links > a:hover::before, 
        .footer-content .footer-info .footer-links > a:focus::before{
            padding: 0px 0px 0px 5px; 
        }
        .footer-content .footer-info .footer-links > a:hover::after,
        .footer-content .footer-info .footer-links > a:focus::after{
            padding: 0px 5px 0px 0px;
        }
        /* 2.4.2 end */
    /* 2.4 end */
/* 2.0 end */
/* 3.0 Responsive Styling */
@media screen and (min-width:801px){

    /* 3.1 Responsive Nav Styling min-800*/
    .nav > ul > .menubar{
        display:none;
    }
    .nav > ul > .nav-element{
        justify-content: flex-end;
    }
    /* 3.1 end */

}
@media screen and (max-width:800px){
    /* 3.2 Responsive Nav Styling max-800 */
    .nav > ul > li:nth-child(2){
        display:none;
    }
    .nav > ul > .menubar > .icon{
        width:35px;
        height:30px;
        cursor:pointer;
    }
    .nav > ul > .menubar > .active > .rect-top{
        transform:rotate(45deg)translate(5px,-4px);
    }
    .nav > ul > .menubar > .active > .rect-bottom{
        transform:rotate(-45deg)translate(-16px,-4px);
    }
    .nav > ul > .menubar > .active > .rect-center{
        opacity:0;
    }
    /* 3.2 end */ 
}